<div class="login">
  <h1>WAVELENGTH</h1>
  <p>Find out what you're really into.</p>
  
  {{#if user}}
    <a href="/api/genres">Get Genres</a>
    <br>
    <a href="/logout">Logout</a>
  {{else}}
    <div class="btn">
      <a href="/login">Log in with Spotify</a>
    </div>
  {{/if}}
  <br>

  
</div>

{{#each topTen}}
  <div>#{{@index}} {{this.name}} : {{this.count}}</li>
{{/each}}

<h1>Logged in as {{user.display_name}}</h1>
<div class="media">
  <div class="pull-left">
    <img class="media-object" width="150" src="{{user.images.0.url}}" />
  </div>
  <div class="media-body">
    <dl class="dl-horizontal">
      <dt>Display name</dt><dd class="clearfix">{{user.display_name}}</dd>
      <dt>Id</dt><dd>{{user.id}}</dd>
      <dt>Email</dt><dd>{{user.email}}</dd>
      <dt>Spotify URI</dt><dd><a href="{{user.external_urls.spotify}}">{{user.external_urls.spotify}}</a></dd>
      <dt>Link</dt><dd><a href="{{user.href}}">{{user.href}}</a></dd>
      <dt>Profile Image</dt><dd class="clearfix"><a href="{{user.images.0.url}}">{{user.images.0.url}}</a></dd>
      <dt>Country</dt><dd>{{user.country}}</dd>
    </dl>
  </div>
</div>


